.git
.gitignore
**/__pycache__/
**/*.pyc
.venv
.env
.env.*

airflow/logs/
data/
downloads/
tmp/
*.zip
*.csv

streamlit_app/.streamlit/*

!streamlit_app/.streamlit/config.toml

streamlit_app/.streamlit/secrets.toml